In [4]:
import pandas as pd
import numpy as np

from pandas import DataFrame

from itertools import combinations

ratings = pd.read_csv('ratings.csv', usecols = ['userId', 'movieId', 'rating'])
movies = pd.read_csv('movies.csv')

In [4]:
ratings.sample(5)

       userId  movieId  rating
31131     217     1409     2.0
76853     480     7454     3.0
67773     438     2501     3.5
63498     414     3753     3.0
24072     167      480     3.5

In [5]:
movies.sample(5)

,movieId,title,genres
774,1016,"Shaggy Dog, The (1959)",Children|Comedy
815,1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical
5080,7991,Death Race 2000 (1975),Action|Sci-Fi
9040,141668,War Room (2015),Drama
1165,1545,Ponette (1996),Drama

In [8]:
# first need to determine how to deal with the users.csv
USERS_CSV_FILE = 'users.csv'
users = pd.read_csv('ratings.csv', usecols = ['userId'])
users.to_csv(USERS_CSV_FILE, 
             sep='\t', 
             header=True, 
             encoding='latin-1',
             columns=['userId'])

print ('Saved to', USERS_CSV_FILE)
users.sample(5)

Saved to users.csv

        userId
85451      555
63424      414
100306     610
32348      221
65061      415

In [ ]:
# Deal with genres -> here it counts the popularity

In [9]:
df = pd.read_csv("ratings.csv", usecols = ['userId'])
print(df)

        userId
0            1
1            1
2            1
3            1
4            1
...        ...
100831     610
100832     610
100833     610
100834     610
100835     610

[100836 rows x 1 columns]